#channel{
    float: center;
    width: 20%;
    padding: 10px;     
    padding-left: 25px;
    height: 100vh;    
    background-color: rgb(194, 14, 194);
    overflow: auto;    
}
#view{
    float: left;
    width: 80%;
    padding: 25px;
    height: 100vh;
    overflow: auto;
    background-color: lightgray;
}

#view div{
    position:fixed; 
    bottom: 0; 
    width: 70%;
    text-align: center; 
    padding: 10px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.channelnode:hover{
    background-color: lightgray;
}

#comment{
    width: 75%;
}